body {
    background-image: linear-gradient(to right, #31b9f1, #35b5f0, #3ab1f0, #3facee, #45a8ed, #4ba4ec, #51a0ea, #579ce8, #5e97e6, #6592e3, #6b8de0, #7288dc);
}

label {
    font-size: 1.2rem;
}

input {
    border-radius: 4px;
    height: 54px;
    border: none;
}

.img-Banner {
    height: 100vh;
    width: 41vw;
}

.img-Container {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 992px) {
    .img-Banner {
        height: 100vh;
        width: 100vw;
        margin: -600px 0px 0px 0px;
        margin-bottom: 80px;
        content: url('../assets/admin-img/petron7.png');
    }


}
#errorBox{
    display: none;
}
.wrapper {
    width: 80%;
}